<div class="col-12 mb-3">
    <label for="serverInput">Server name</label>
    <input type="text" id="serverInput" class="form-control" [(ngModel)]="serverName">
</div>
<div class="col-12 col-sm-auto mb-3">
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer();">Add server</button>
</div>
<div class="col-12 col-sm-auto mb-3">
    <button class="btn btn-danger" [disabled]="!serverName" (click)="onResetServerName();">Reset server name</button>
</div>
<div class="col-12">
    <p *ngIf="serverCreated">Server named {{ serverName }} has been created!</p>
</div>