.card{ 
    width: 100%;
    cursor: pointer;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.11);
    transition: all 400ms ease-in-out;
    margin: 8px 0;
    border-radius: 4px;
    &:hover{
        transform: scale(.98);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.11);
    }
    &__title{
        font-size: 24px;
        padding: 16px 16px 0;
    }
    &__description{
        padding: 8px 16px;
    }
    &__image{
        width: 100%;
        max-height: 96px;
        object-fit: cover;
    }
}